force-app/main/default/flows/New_Contract_Intake_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No_I_want_to_fill_it_out_manually</name>
        <choiceText>No. I want to fill it out manually.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No. I want to fill it out manually.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Have_Agentforce_hydrate_the_record_for_me</name>
        <choiceText>Yes. Have Agentforce hydrate the record for me.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes. Have Agentforce hydrate the record for me.</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Did_User_Select_Automatic_or_Manual</name>
        <label>Did User Select Automatic or Manual?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Intake_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agentforce Automation</defaultConnectorLabel>
        <rules>
            <name>Manual_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutomaticorManual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_I_want_to_fill_it_out_manually</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Intake_Record</targetReference>
            </connector>
            <label>Manual Choice</label>
        </rules>
    </decisions>
    <description>Creates Contract Intake, then uploads a pdf to it.</description>
    <environments>Default</environments>
    <formulas>
        <name>newRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!newRecordId}</expression>
    </formulas>
    <interviewLabel>New Contract Intake (Upload) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contract Intake (Upload)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the new record for the file upload to happen to.</description>
        <name>Copy_1_of_Create_Intake_Record</name>
        <label>Create Intake Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Upload_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Vendor_Name__c</field>
            <value>
                <stringValue>unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contract_Intake__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates the new record for the file upload to happen to.</description>
        <name>Create_Intake_Record</name>
        <label>Create Intake Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Vendor_Name__c</field>
            <value>
                <stringValue>unknown</stringValue>
            </value>
        </inputAssignments>
        <object>Contract_Intake__c</object>
    </recordCreates>
    <screens>
        <name>AutomatedorManualScreen</name>
        <label>Automated or Manual Selection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_User_Select_Automatic_or_Manual</targetReference>
        </connector>
        <fields>
            <name>AutomaticorManual</name>
            <choiceReferences>Yes_Have_Agentforce_hydrate_the_record_for_me</choiceReferences>
            <choiceReferences>No_I_want_to_fill_it_out_manually</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes_Have_Agentforce_hydrate_the_record_for_me</defaultSelectedChoiceReference>
            <fieldText>Would you like to have Agentforce hydrate the record for you?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>stage_automated_intake</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Copy_1_of_Upload_Contract</name>
        <label>Upload Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_fileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach the contract PDF, then click Finish.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>New_Contract_Intake_Automated_Analysis</name>
            <actionName>New_Contract_Intake_Automated_Analysis</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>newRecordId</name>
                <value>
                    <elementReference>newRecordId</elementReference>
                </value>
            </inputParameters>
            <label>New Contract Intake (Automated Analysis)</label>
            <nameSegment>New_Contract_Intake_Automated_Analysis</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 179, 42);&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Submessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have successfully kicked off automated ingestion and analysis of a &lt;strong&gt;new vendor contract.&lt;/strong&gt; The analysis will take 1-2 minutes. You will receive notification when it is complete.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;🔔&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Note: You may see a blank record created. This will be populated when the automated analysis is complete. &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;You can navigate to this new record and start asking questions of the contract right away using &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Agentforce&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;⬇️&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Navigate_to_new_record_link</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!newRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;Navigate to New Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>stage_Success</elementReference>
        </stageReference>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Success_Screen</eventSource>
            <handlers>
                <initBehavior>onload</initBehavior>
                <screenActionName>New_Contract_Intake_Automated_Analysis</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Upload_Contract</name>
        <label>Upload Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>fileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach the contract PDF, then click Finish.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload a pdf of the contract document for the new record.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>stage_contract_upload</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>stage_automated_intake</name>
        <isActive>true</isActive>
        <label>Automated Intake?</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stage_contract_upload</name>
        <isActive>true</isActive>
        <label>Contract Upload</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage_Success</name>
        <isActive>true</isActive>
        <label>Success</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AutomatedorManualScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Clickable hyperlink to take user to the new record.</description>
        <name>NavigatetoNewRecord</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;a href=&quot;/lightning/r/Contract_Intake__c/{!newRecordId}/view&quot;&amp;gt;Take me to the new record&amp;lt;/a&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>newRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
