force-app/main/default/flows/New_Contract_Intake_Automated_Analysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Risk_Analysis</name>
        <label>Contract Risk Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_Analyze_Contract_Risk</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Risk_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Input_Contract</name>
            <value>
                <elementReference>Get_New_Contract_Intake_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_Analyze_Contract_Risk</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Extract_Key_Contract_Fields</name>
        <label>Extract Key Contract Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_Extract_Contract_Fields</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Input_Contract</name>
            <value>
                <elementReference>Get_New_Contract_Intake_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_Extract_Contract_Fields</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This action either finds an account to associate to the contract intake record or creates a new one if its missing one.</description>
        <name>Find_or_Create_Account</name>
        <label>Find or Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_AccountMatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Action_Ok</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createIfMissing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>Get_New_Contract_Intake_Record.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorCity</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorCountry</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorName</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorPhone</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorPhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorPostalCode</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorState</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorStreet</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorStreet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorWebsite</name>
            <value>
                <elementReference>Parse_JSON_Response.vendorWebsite</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_AccountMatch</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Negotiation_Tips</name>
        <label>Generate Negotiation Tips</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_Negotiation_Tips</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Find_or_Create_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Input_Contract</name>
            <value>
                <elementReference>Get_New_Contract_Intake_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_Negotiation_Tips</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_Response</name>
        <label>Parse JSON Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_ParseExtractJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contract_Risk_Analysis</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>Extract_Key_Contract_Fields.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_ParseExtractJson</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_Risk_Response</name>
        <label>Parse JSON Risk Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VCR_ParseAnalysisJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Negotiation_Tips</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>Contract_Risk_Analysis.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCR_ParseAnalysisJson</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This is a notification to the end user that the process is complete.</description>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>runningUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notif_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notif_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>newRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This assignment adds the user id from the triggering running user to a variable to be used to send a notification to when the process is complete.</description>
        <name>Assign_Notification_Recipient_IDs</name>
        <label>Assign Notification Recipient IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>runningUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Action_Ok</name>
        <label>Account Action Ok?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Record_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_or_Create_Account.errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Needs_Review_Field</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>The automatic analysis and hydration of a contract intake record.</description>
    <environments>Default</environments>
    <formulas>
        <name>AutoRenew_YesNo</name>
        <dataType>String</dataType>
        <expression>IF({!Parse_JSON_Response.autoRenew}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>KeyTerms_line</name>
        <dataType>String</dataType>
        <expression>&quot;Net &quot; &amp; TEXT({!Parse_JSON_Response.paymentTermsDays})
&amp; &quot; • Auto-renew: &quot; &amp; {!AutoRenew_YesNo}
&amp; &quot; • Notice: &quot; &amp; TEXT({!Parse_JSON_Response.noticePeriodDays}) &amp; &quot; days&quot;</expression>
    </formulas>
    <formulas>
        <name>Notif_Body</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Find_or_Create_Account.errorMessage})),
  &quot;⚠️ Review required for &quot; &amp; {!Parse_JSON_Response.vendorName}
    &amp; &quot;\nReason: &quot; &amp; {!Find_or_Create_Account.errorMessage}
    &amp; &quot;\nCurrent Risk: &quot; &amp; {!Parse_JSON_Risk_Response.riskClass}
    &amp; &quot; (&quot; &amp; TEXT({!Parse_JSON_Risk_Response.riskScore}) &amp; &quot;/100)&quot;
    &amp; &quot;\nTip: Check extracted fields and negotiation tips, then re-run intake if needed.&quot;,
  IF(
    {!Find_or_Create_Account.created},
    &quot;✅ Contract intake complete for &quot; &amp; {!Parse_JSON_Response.vendorName}
      &amp; &quot;\nLinked Account: created and associated to this intake&quot;
      &amp; &quot;\nRisk: &quot; &amp; {!Parse_JSON_Risk_Response.riskClass}
      &amp; &quot; (&quot; &amp; TEXT({!Parse_JSON_Risk_Response.riskScore}) &amp; &quot;/100)&quot;
      &amp; &quot;\nKey terms: &quot; &amp; {!KeyTerms_line}
      &amp; &quot;\nNext step: Confirm Account details and proceed with legal review.&quot;,
    &quot;✅ Contract intake complete for &quot; &amp; {!Parse_JSON_Response.vendorName}
      &amp; &quot;\nLinked Account: matched (score &quot; &amp; TEXT({!Find_or_Create_Account.matchScore}) &amp; &quot;)&quot;
      &amp; &quot;\nRisk: &quot; &amp; {!Parse_JSON_Risk_Response.riskClass}
      &amp; &quot; (&quot; &amp; TEXT({!Parse_JSON_Risk_Response.riskScore}) &amp; &quot;/100)&quot;
      &amp; &quot;\nKey terms: &quot; &amp; {!KeyTerms_line}
      &amp; &quot;\nNext step: Review negotiation tips on the record.&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>Notif_Title</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Find_or_Create_Account.errorMessage})),
  &quot;Action needed — intake review for &quot; &amp; {!Parse_JSON_Response.vendorName},
  IF(
    {!Find_or_Create_Account.created},
    &quot;New Account created &amp; linked — &quot; &amp; {!Parse_JSON_Response.vendorName},
    &quot;Intake complete — &quot; &amp; {!Parse_JSON_Response.vendorName}
  )
)</expression>
    </formulas>
    <interviewLabel>New Contract Intake (Automated Analysis) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contract Intake (Automated Analysis)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This action gets the custom notification ID necessary to send the notification to the end user when the process is complete.</description>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Contract_Intake_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCR_Complete_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contract_Intake_Record</name>
        <label>Get New Contract Intake Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Key_Contract_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Needs_Review_Field</name>
        <label>Set Needs Review Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Record_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract_Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Fields</name>
        <label>Update Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Find_or_Create_Account.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew_Period_Months__c</field>
            <value>
                <elementReference>Parse_JSON_Response.autoRenewPeriodMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>Parse_JSON_Response.autoRenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Title__c</field>
            <value>
                <elementReference>Parse_JSON_Response.contractTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value__c</field>
            <value>
                <elementReference>Parse_JSON_Response.contractValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Parse_JSON_Response.currencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency_Code__c</field>
            <value>
                <elementReference>Parse_JSON_Response.currencyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Processing_DPA_Required__c</field>
            <value>
                <elementReference>Parse_JSON_Response.dataProcessingDpaRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indemnity_Present__c</field>
            <value>
                <elementReference>Parse_JSON_Response.indemnityPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Cap_Text__c</field>
            <value>
                <elementReference>Parse_JSON_Response.liabilityCapText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lowest_Confidence_0100__c</field>
            <value>
                <elementReference>Parse_JSON_Risk_Response.lowestConfidence0100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Negotiation_Tips__c</field>
            <value>
                <elementReference>Generate_Negotiation_Tips.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notice_Period_Days__c</field>
            <value>
                <elementReference>Parse_JSON_Response.noticePeriodDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Days__c</field>
            <value>
                <elementReference>Parse_JSON_Response.paymentTermsDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Class__c</field>
            <value>
                <elementReference>Parse_JSON_Risk_Response.riskClass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Justification__c</field>
            <value>
                <elementReference>Parse_JSON_Risk_Response.riskJustification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Score__c</field>
            <value>
                <elementReference>Parse_JSON_Risk_Response.riskScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecuritySLA_Present__c</field>
            <value>
                <elementReference>Parse_JSON_Response.securitySlaPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Excerpts__c</field>
            <value>
                <elementReference>Parse_JSON_Response.sourceExcerpts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_for_Convenience__c</field>
            <value>
                <elementReference>Parse_JSON_Response.terminationForConvenience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Name__c</field>
            <value>
                <elementReference>Parse_JSON_Response.vendorName</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Notification_Recipient_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The id of the record that is used to perform analysis on</description>
        <name>newRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The running user id.</description>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
